[submodule "public"]
	path = public
	url = https://github.com/kh411d/kh411d.github.io.git
	branch = master
[submodule "themes/hyde"]
	path = themes/hyde
	url = https://github.com/kh411d/hyde
	branch = master
[submodule "themes/hugo-theme-casper"]
	path = themes/hugo-theme-casper
	url = https://github.com/kh411d/hugo-theme-casper.git
	branch = master
[submodule "themes/anatole"]
	path = themes/anatole
	url = https://github.com/kh411d/anatole.git
[submodule "themes/KeepIt"]
	path = themes/KeepIt
	url = https://github.com/kh411d/KeepIt
	branch = master
[submodule "themes/mediumish-gohugo-theme"]
	path = themes/mediumish-gohugo-theme
	url = https://github.com/kh411d/mediumish-gohugo-theme
	branch = master
[submodule "themes/paper"]
	path = themes/paper
	url = https://github.com/kh411d/hugo-paper
	branch = master
[submodule "themes/hugo-coder"]
	path = themes/hugo-coder
	url = https://github.com/kh411d/hugo-coder
	branch = master
[submodule "themes/casper3"]
	path = themes/casper3
	url = https://github.com/kh411d/hugo-casper3
	branch = master
